<head>
    <title>OMT Model</title>
    <!-- Import jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="outer_container">
        <h2>Upload an image for Object Material Type Classification (Paper, Plastic, Metal, Glass, or Others)</h2>
        <!-- Form to get user's uploaded image -->
        <form id="upload_form" enctype="multipart/form-data">
            <input type="file" id="upload_img" name="image" accept="image/*" />
            <button type="button" onclick="upload_image()">Upload Image</button>
        </form>

        <!-- Display uploaded image -->
        <div id="image_container" style="display: none;">
            <h2>Uploaded Image</h2>
            <img id="uploadedImage" style="max-width: 100%;" />
            <p id="results"></p>
        </div>
    </div>

    <script>
        // Constants
        const test_img = document.getElementById('uploadedImage');
        const results_txt = document.getElementById('results');

        /* Event Listeners */
        // Function for handling image upload
        async function upload_image() {
            // Get uploaded image
            var input = document.getElementById('upload_img');
            var file = input.files[0];
            if(file) {
                var reader = new FileReader();
                reader.onload = async function (e) {
                    // Load test image
                    test_img.src = e.target.result;

                    // Ensure image is loaded before moving on
                    await new Promise((resolve) => test_img.onload = resolve);

                    // Display image container once it is loaded
                    $("#image_container").show();

                    // Classify image after it has been loaded
                    console.log("Classifying image...");
                    // Classify image
                    $.ajax({
                        url: "/upload",
                        type: "POST",
                        data: new FormData($('#upload_form')[0]),
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            // Update results text
                            results_txt.textContent = response.message;
                            console.log(response);
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                };
                reader.readAsDataURL(file);
            }
        }
    </script>

</body>